<!-- ITEM - Create/Modify promotion-->
<div class="ui segment edit-promo" style="display:none;">
    {{!--

    <!--Top Warning message-->
    <div class="ui warning message">
        <div class="header">La promoción no se puede editar mientras está activa</div>
        <ul class="list">
            <li>That e-mail has been subscribed, but you have not yet clicked the verification link in your e-mail.</li>
        </ul>
    </div>

    --}}

    <!--Promotion edit content container-->
    <div class="ui aligned stackable grid container">
        <!--Form container-->
        <div class="eight wide column">

            <div class="ui two top ordered mini attached steps">
                <div class="active step first-form-step">
                    <div class="content">
                        <div class="title">Información de la promoción</div>
                    </div>
                </div>
                <div class=" step second-form-step">
                    <div class="content">
                        <div class="title">Otros detalles y configuración</div>
                    </div>
                </div>
            </div>

            <div class="ui attached segment">
                <div class="ui inverted dimmer loading-image">
                    <div class="ui text loader">Cargando imagen</div>
                </div>
                <form class="promotionForm" action="">

                    <div class="first-form">
                        {{>first-step-form}}
                    </div>


                    <div class="second-form" style="display:none">
                        {{>second-step-form}}
                    </div>
                </form>
                <br>
                <!--Form navigate buttons-->
                <div class="ui column centered grid form-navigate">
                    <div class=" column centered row">

                        <button class="ui button disabled back"><i class="left chevron icon"></i>Atrás</button>
                        <button class="ui button next">Siguiente<i class="right chevron icon"></i></button>
                        <button class="ui button sendPromo" disabled style="display: none;"> <i class="announcement icon"></i>Crear/Guardar promoción</button>
                    </div>
                </div>
            </div>
        </div>


        <!--end form container-->

        <!--Mobile previsualization -->
        <div class="six wide right floated column phoneBkgndImg">
            <!--<img src="https://s28.postimg.org/dxib4qcvh/i_Phone7_Silver_F.png" class="">-->
            <div class="">
                <!--http://semantic-ui.com/examples/homepage.html-->
                <iframe class="supports_custom_scrollbar slim_scrollbar" scrolling="yes" frameborder="0" src="https://iapp.whatspromo.com/assets/demo.html"
                    sandbox="allow-modals allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts" frameborder="0"
                    name="JS Bin Output " id="1486077904030"> </iframe>
            </div>


          {{!--  next version
          
          <div class="ui breadcrumb iframe-nav segment">
                <a class="section">Inicio</a>
                <i class="right angle icon divider"></i>
                <a class=" section">Participar</a>
                <i class="right angle icon divider"></i>
                <div class="active section">Compartir</div>
                <i class="right angle icon divider"></i>
                <a class=" section">Finalizada</a>
            </div>--}}

        </div>
        <!--end mobile previsualization-->
    </div>
    <!--end promotion edit content container-->


</div>