
<!-- Sidebar Menu -->
<div class="ui vertical sidebar menu left">
  
      <a class="item" href="https://app.whatspromo.com">Mi cuenta</a>
      <a class="item disabled" target="_blank">Blog</a>
      <a class="item" target="_blank" href="https://app.whatspromo.com/contacto">Soporte</a>
</div>


<!-- Page Contents -->
<div class="ui basic center aligned segment">
  <div class="ui container">
    <div class="ui large secondary pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="toc item" target="_blank" href="https://whatspromo.com/wp/">
         <img src="https://whatspromo.com/wp/wp-content/uploads/2017/04/logo-whatspromo-home.png">
        </a>
        <a class="item" target="_blank" href="https://whatspromo.com/wp/"><img src="https://whatspromo.com/wp/wp-content/uploads/2017/04/logo-whatspromo-home.png"></a>
       
        
      <div class="right menu">
      
      <a class="item" href="https://app.whatspromo.com">Mi cuenta</a>
      <a class="item disabled" target="_blank">Blog</a>
      <a class="item" target="_blank" href="https://app.whatspromo.com/contacto">Soporte</a>
     
    </div>
   </div>
 </div>
</div>