<div class="ui segment ">
    <h3 class="ui header">Participantes en la promoción</h3>

    <table id="participants-table" class="ui celled table" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Móvil</th>
                <th>Facebook</th>
                <th>Google</th>
                <th>Puntos</th>
                <th>Amigos participando</th>
                <th>Visualizaciones de amigos</th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
</div>