<div class="ui segment ">
    <h3 class="ui header">Participantes en la promoción</h3>

    <table id="participants-table" class="ui celled table" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Móvil</th>
                <th>Facebook</th>
                <th>Google</th>
                <th>Puntos</th>
                <th>Amigos participando</th>
                <th>Visualizaciones de amigos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Jose Manuel</td>
                <td>Garcia Rodrigo</td>
                <td>jmanuel@mail.com</td>
                <td>714590812</td>
                <td>Facebook</td>
                <td>Google</td>
                <td><i class="star icon"></i>190</td>
                <td><i class="users icon"></i>7</td>
                <td><i class="unhide icon"></i>10</td>
            </tr>
            <tr>
                <td>Jose Manuel</td>
                <td>Garcia Rodrigo</td>
                <td>jmanuel@mail.com</td>
                <td>714590812</td>
                <td>Facebook</td>
                <td>Google</td>
                <td><i class="star icon"></i>190</td>
                <td><i class="users icon"></i>7</td>
                <td><i class="unhide icon"></i>10</td>
            </tr>
            <tr>
                <td>Jose Manuel</td>
                <td>Garcia Rodrigo</td>
                <td>jmanuel@mail.com</td>
                <td>714590812</td>
                <td>Facebook</td>
                <td>Google</td>
                <td><i class="star icon"></i>190</td>
                <td><i class="users icon"></i>7</td>
                <td><i class="unhide icon"></i>10</td>
            </tr>
        </tbody>
    </table>
</div>