<!-- ITEM - Promotion list-->
<div class="ui segment list-promo">
    <div class="ui relaxed divided list">
        <div class="item">
            <div class="bottom aligned content">
                <br>
                <div class="ui center aligned grid">
                    <div class="ui button grey add-promo"><i class=" add icon"></i>Nueva promoción</div>
                </div>
                <br>
            </div>


        </div>

<!--Item-->


{{#each promotions}}
{{>promotion-list-item}}
{{/each}}

        <div class="item">
            <div class="right floated content">

            </div>
            <i class="yellow large newspaper middle aligned icon"></i>

            <div class="content">

                <a class="header">Promoción 11111</a>

                <div class="description">
                    <p>Pendiente de lanzar</p>
                </div>
                <div class="extra">
                    <div class="meta">
                        <span class="">
									<i class="calendar icon" ></i>21/12/2017
								</span>
                        <span class="">
									<i class="users icon"></i>0
								</span>
                        <span class="">
									<i class="unhide icon"></i>0
								</span>
                    </div>

                </div>
            </div>
        </div>

        <div class="item">

            <div class="right floated content">
                <div class="ui button middle aligned"><i class="line chart icon"></i>Estadísticas</div>
            </div>

            <i class="teal large newspaper middle aligned icon"></i>
            <div class="content">
                <a class="header">Promoción 12314</a>
                <div class="description">
                    <p>15 horas restantes</p>
                </div>
                <div class="extra">
                    <div class="meta">
                        <span class=""><i class="calendar icon"></i>13/12/2017</span>
                        <span class=""><i class="users icon"></i>321</span>
                        <span class=""><i class="unhide icon"></i>3.112</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="right floated content ">
                <div class="ui button "><i class="line chart icon"></i>Estadísticas</div>
            </div>
            <i class="large newspaper middle aligned icon"></i>
            <div class="content">
                <a class="header">Promoción 23453</a>
                <div class="description">
                    <p>Finalizada</p>
                </div>
                <div class="extra">
                    <div class="meta">
                        <span class="">
									<i class="calendar icon" ></i>10/12/2017
								</span>
                        <span class="">
									<i class="users icon"></i>1.200
								</span>
                        <span class="">
									<i class="unhide icon"></i>23.097
								</span>
                    </div>

                </div>
            </div>
        </div>
        <div class="item">

            <div class="right floated content ">
                <div class="ui button "><i class="line chart icon"></i>Estadísticas</div>
            </div>


            <i class="large newspaper middle aligned icon"></i>
            <div class="content">
                <a class="header">Promoción 23453</a>
                <div class="description">
                    <p>Finalizada</p>
                </div>
                <div class="extra">
                    <div class="meta">
                        <span class="">
									<i class="calendar icon" ></i>10/12/2017
								</span>
                        <span class="">
									<i class="users icon"></i>1.200
								</span>
                        <span class="">
									<i class="unhide icon"></i>23.097
								</span>
                    </div>

                </div>
            </div>
        </div>
        <div class="item">
            <div class="right floated content ">
                <div class="ui button "><i class="line chart icon"></i>Estadísticas</div>
            </div>
            <i class="large newspaper middle aligned icon"></i>
            <div class="content">
                <a class="header">Promoción 23453</a>
                <div class="description">
                    <p>Finalizada</p>
                </div>
                <div class="extra">
                    <div class="meta">
                        <span class="">
									<i class="calendar icon" ></i>10/12/2017
								</span>
                        <span class="">
									<i class="users icon"></i>1.200
								</span>
                        <span class="">
									<i class="unhide icon"></i>23.097
								</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>