<div class="item">
    <div class="right floated content">
        <div class="ui button"><i class=" pencil icon"></i>Modificar</div>
    </div>
    <i class="yellow large newspaper middle aligned icon"></i>

    <div class="content">

        <a class="header">Promoción 11111</a>

        <div class="description">
            <p>Pendiente de lanzar</p>
        </div>
        <div class="extra">
            <div class="meta">
                <span class="">
                            <i class="calendar icon" ></i>21/12/2017
                        </span>
                <span class="">
                            <i class="users icon"></i>0
                        </span>
                <span class="">
                            <i class="unhide icon"></i>0
                        </span>
            </div>

        </div>
    </div>
</div>