<!-- ITEM - Promotion list-->
<div class="ui segment list-promo">
    <div class="ui relaxed divided list">
        <div class="item">
            <div class="bottom aligned content">
                
                <div class="ui center aligned grid">
                    <div class="ui button grey add-promo"><i class=" add icon"></i>Nueva promoción</div>
                </div>
                
            </div>


        </div>

        <!--Promotions list-->
        {{#each promotions}} {{>promotion-list-item}} {{/each}} 
        
        {{!-- No promotions to show--}}
        {{#unless promotions}}
        <div class="item">

            <div class="bottom aligned content">
                <br>
                <div class="ui center aligned grid">
                    <div class="ui huge label ">
                        Todavía no tienes ninguna promoción creada.  
                    </div>
                </div>
                <br>
            </div>

        </div>
        {{/unless}}

    </div>
</div>