  <!--MENU - Promotions menu steps - attached-->
  <div class="ui three top attached steps">
   <a class="active step list-promo-step">
    <i class="list icon"></i>
    <div class="content">
     <div class="title">Promociones</div>
     <div class="description">Ver las promociones existentes y crear nuevas.</div>
    </div>
   </a>
   <a class="step edit-promo-step">
    <i class="newspaper icon "></i>
    <div class="content">
     <div class="title">Crear/Modificar promoción</div>
     <div class="description">Editar la promoción seleccionada.</div>
    </div>
   </a>
   <!--<a class="disabled step stats-promo-step">-->
   <a class="step stats-promo-step">
    <i class="line chart icon"></i>
    <div class="content">
     <div class="title">Estadísticas</div>
     <div class="description">Ver promociones en curso o finalizadas.</div>
    </div>
   </a>
  </div>
