<div class="ui segment winners-segment">
    
    <div class="ui middle aligned divided list  ">
        <h3 class="ui header">Ganadores del sorteo. ¡Debes contactar con los premiados!</h3>

        <!--Winner Item-->
        {{>winner-list-item}}

    </div>
</div>