 <div class="item">
    <div class="right floated content">
        <div class="ui label "><i class="call chart icon"></i>630 134 907</div>
        <div class="ui label"><i class="mail chart icon"></i>daceriu@gmail.com</div>
    </div>
    <i class="large user middle aligned icon"></i>

    <div class="content">
        <i class="yellow star middle aligned icon"></i>300 puntos
    </div>
</div>